body {
  background-color: #f9f3f3;
  text-align: center;
  font-family: Montserrat;
  color: #435560;
}

input {
  width: 100px;
  margin: 5px 20px;
  border: 2px solid;
  background: #C9D6FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

strong {
  text-decoration: underline;
  font-size: 16px;
}

p {
  font-weight: 900;
  font-size: 16px;
}

p.result {
  font-weight: normal;
}

label {
  font-weight: 500;
  font-size: 19px;
  line-height: 2.09
}

.header {
  background-color: #252525;
  padding: 2% 9% 1%;
  text-align: left;
  color: #dddddd;
}

.row {
  margin: 2% 9% 0;
  /* padding: 0 2%; */
  /* transform: scale(0.9); */
}

.mainDiv {
  /* display: inline-block; */
  /* margin: 0 auto; */
  /* width: auto; */
  /* padding-left: 2.5%; */
  padding-left: 0;
  text-align: left;
  /* border: 1px solid black; */
}

.label {
  display: inline-block;
}

.input {
  display: inline-block;
}

.resultDiv {
  margin: 0 9%;
  text-align: left;
}

.result {
  margin-top: 8px;
}

#clearResult {
  display: none;
}

@media (max-width: 990px) {

  /* .row {
    width: auto;
  }

  .mainDiv {
    width: auto;
  } */
  .header {
    width: 540px;
    text-align: left;
    margin-left: 6%;
  }

  .mainDiv {
    margin-left: 0;
  }
}
